
<div class="main-heading">
    <h1>SpaceX Launch Programs</h1>
</div>

<div class="filters-container"  *ngIf="appliedFilters && areFiltersLoaded">
    <spacex-filters (filtersUpdated)="filtersUpdated($event)" [filters]="appliedFilters"></spacex-filters>
</div>
<div class="programs-container">
    <spacex-programs [missions]="filteredData" *ngIf="filteredData && isDataLoaded"></spacex-programs>
    <div *ngIf="!isDataLoaded">
        <spacex-loader [isSmall]="true"></spacex-loader>
    </div>
  
      
</div>

<div class="text-center m-t-20 m-b-20">
    <div class="developed-by">Developed By:</div>
    <div class="name">Deepak Kakkar</div>
  </div>